<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
</head>
<body>
	<div>
	<form action="http://localhost:8088/registration/savedata" method="post">
		Name:<input type="text" name="name" id="name" placeholder="Name"></br>
		Email:<input type="email" name="email" id="email" placeholder="Email"></br>
		Mobile:<input type="tel" name="phone" id="phone" placeholder="Phone"></br>
		<input type="submit" value="Register">
	</form>
	</div>
	<br>
	<div>
		<a href="http://localhost:8088/registration/details"><button>Get Data</button></a>
	</div>
</body>
</html>